html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.content
{
    text-align: center;
}
.header
{
    background-color: black;
}

/* nawigacja*/
.sidenav{
    height: 100%;
    width: 100px;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:black;
    overflow-x:hidden;
    transition: 10ms;

}
/*Poszerza menu*/
.sidenav:hover{
    width: 300px;
    transition: 2.5s;
}
/* Pokazuje i chowa to co jest w spanie */
.sidenav span {display:none;}
.sidenav:hover span {display:inline;}
/*Powiększanie czcionki*/
.sidenav:hover a
{
    font-size: 25px;
    transition: 2s;
}
/*Podświetlenie wyboru w menu - opcional*/
.sidenav a:hover
{
    color: black;
    background-color: white;
}
/* Menu linki */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 5px;
    color: #818181;
    display: block;
}
