html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
}
.content
{
    text-align: center;
}
.header
{
    background-color: black;
}
/* nawigacja*/
.sidenav{
    height: 100%;
    width: 60px;
    position:fixed;
    top:0;
    left:0;
    background-color:black;
    overflow-x:hidden;
    transition: 10ms;
    z-index: 999;
}
/*Poszerza menu*/
.sidenav:hover{
    width: 230px;
    transition: 1s;
    z-index: 999;
}
/* Pokazuje i chowa to co jest w spanie */
.sidenav span {display:none;}
.sidenav:hover span {display:inline;}
/*Powiększanie czcionki*/
.sidenav:hover a
{
    font-size: 25px;
    transition: 1s;
}
/*Podświetlenie wyboru w menu - opcional*/
.sidenav a:hover
{
    color: black;
    background-color: white;
}
/* Menu linki */
.sidenav a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 1px;
    color: #818181;
    display: block;
}
.sidenav i
{
    font-size:40px;
    margin-bottom: 15px;
}
.menuIcon
{
    width:65px;
    height: 70px;
    padding-right: 10px;
}

/*Pasek footer*/
.footer
{
    background-color: black;
    width: 100%;
    position: relative;
    clear: both;
    color:white;
    bottom: 0;

}
.footerIcon
{
    width: auto;
    height: 30px;
}
#footer1
{
    color:#ff947e;
    line-height:20px;
    font-family: 'Indie Flower', cursive;
    margin-top:auto;
    margin-bottom:auto;

}
.footer i
{
    font-size:30px;
    color:sienna;
}
.footer #podpis
{
    color:grey;
    font-family: 'Coming Soon', cursive;
}
.footer #social
{
    font-family: 'Raleway', sans-serif;
}
.odnosniki
{
    background-color: black;
    color: white;
    font-size: 25px;
}

/*Tabelki*/
iframe
{
    height: 400px;
    width: 40%;
}
.row
{
    margin:auto!important;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: whitesmoke;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: white;
                    color: black;}

.show {display: block;}
.contentArchives
{
    padding-bottom: 20px;
}
.splits
{
    height: 100%;
}

/*widok mobilny menu*/
@media(max-width: 680px){
    .sidenav{
        display: none;
    }
    .sidenav__mobile{
        background-color: black;
        color:white;
        word-spacing: 15px;
        font-size: 15px;
    }
    .sidenav__mobile a{
        text-decoration: none;
        background-color: #000015;
        color: white;
        border-radius: 4px;
    }
    .sidenav__mobile a:hover{
        background-color: grey;
    }

    .yt{
        width: 400px;
    }
}
@media(min-width: 950px){
    .yt{
    }
}
@media(max-width: 1055px){
.terminy{
    width: 800px;
}
}
@media(max-width: 818px){
    .terminy{
        width: 650px;
    }
}

@media(min-width: 680px){
    .sidenav__mobile{
    display:none;
    }
    .yt{
        width: 600px;
    }
}

@media(max-width: 540px){
    .fb-page{
        width: 300px;
    }
}
